.bwm-navbar {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  z-index: 999;
  top: 0;
  &>* {
    color: white;
  }
}

.navbar-nav {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row !important;
}

.nav-item {
  margin-right: 20px;
  color: white;
}